<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.Permission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="expression" jdbcType="VARCHAR" property="expression" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.wolfcode.crm.domain.Permission" useGeneratedKeys="true">
    insert into permission (name, expression)
    values (#{name,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.crm.domain.Permission">
    update permission
    set name = #{name,jdbcType=VARCHAR},
      expression = #{expression,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, expression
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, expression
    from permission
  </select>
  <select id="selectForList" resultType="cn.wolfcode.crm.domain.Permission">
    select id, name, expression
    from permission
  </select>
  <select id="selectAllExpression" resultType="java.lang.String">
    select expression from permission
  </select>
  <select id="selectByRoleId" resultMap="BaseResultMap">
    select p.* from permission p join role_permission rp on p.id = rp.permission_id
    where rp.role_id = #{id}
  </select>
  <select id="selectByEmpId" resultType="java.lang.String">
    select DISTINCT p.expression from permission p join role_permission rp on p.id = rp.permission_id
      join employee_role er on  er.role_id = rp.role_id
    where er.employee_id = #{id}
  </select>
</mapper>